<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
<img src="/static/lol.png">
<h1>Objective of the project:</h1>
<b>The expanded analytics accessible to all players, based on the analysis of matches and technicians of machine training.</b><p>
1. Player (Summoner) match statistics<p>
2. Statistics of matches in the mode - <a href="stats">Nexus Blitz here</a><p>
3. Statistics of top champions (win/fail chance) - <a href="champions_win_fail">Here</a><p>
4. Calculator of the chance to win the selection of champions (draft phase)<p>
5. Top players statistics<p>
6. Use Machine Learning models in WIN Calculator<p>
7. And much more<p>

<h1>All useful links:</h1>
<a href="stats">{{s1}}<a><p>
<a href="champions_win_fail">{{s2}}</a><p>
  </body>
</html>